<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About</h3>
    <p>
      Each summer, Faith Presbyterian Church participates in Group Publishings’ workcamp 
	  program. The primary goal is the spiritual growth of high school and college students. 
	  As the ultimate expression of Christian service, Workcamps offer a fun, challenging, 
	  faith-building mission adventure you’ll never forget. Workcamps are an intensive week 
	  community service offering teenagers an opportunity to perform hands-on home-repair 
	  projects for low-income families. Students do not need to be experienced carpenters 
	  or painters to participate. Projects include carpentry, roof repair, step and porch 
	  construction, weatherization, wheelchair ramp construction, painting, and drywall. 
	  Youth work with and make lasting friendships with Christians from all over. As they 
	  serve, their confidence and character grow like never before. Their faith ignites as 
	  they complete hands-on, meaningful work that really counts, and they discover a genuine 
	  appreciation for all God has given them. Since 1977, Group Workcamps have offered fun, 
	  faith and friendship. More than 160,000 youth and adult leaders have deepened their 
	  Christian faith while serving thousands of disabled, elderly, and disadvantaged 
	  families across the US and Canada. Some residents must choose between putting food 
	  on the table and fixing a leaky roof. The real repairs, however, are done not to the 
	  homes, but to the lives of those you touch. Workcamp is a character and faith building 
	  adventure you’ll never forget!
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
