<section class="bg-splash-gray border-top border-light-gray">
  <div class="container block p3">
    <a name="comments"></a>
<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}
  <p>
    <h3><small>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    COMMENT{% if site.data.comments[page.slug].size > 1 %}S{% endif %}
    </small></h3>
  </p>

  {% assign comments = site.data.comments[page.slug] | sort %}

  <p>
    {% for comment in comments %}
    <div class="mx-auto mb2 pt2 pb2">
      <img class="avatar left mr2 border border-light-gray circle lazyloaded" src="https://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=68" alt="{{ comment[1].name }}">
      <h4 class="m0">{{ comment[1].name }}</h4>
	  <time class="gray h6">{{ comment[1].date | date: "%B %d, %Y  %I:%M %p" }}</time>
      <p class="h3 mt0 mb0">{{ comment[1].message | markdownify }}</p>
    </div>
    {% endfor %}
  </p>
{% endif %}

<!-- Comment form -->
  <h3><small>LEAVE A COMMENT</small></h3>
   <form id="comments" class="form" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input type="hidden" name="options[parent]" value="{{ post_slug }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">
   
    <input type="text" name="company" class="text-field" style="display: none">
    <textarea class="block col-12 mb2 field" rows="4" name="fields[message]" placeholder="Comment. Markdown is accepted." style="width:100%" required></textarea>
    <input class="block col-12 mb2 field" type="text" name="fields[name]" placeholder="Name" required/>
    <input class="block col-12 mb2 field" type="email" name="fields[email]" placeholder="Email address (will not be public)"/>
    <input class="block col-12 mb2 field" type="address" name="fields[address]" placeholder="Address (do not fill!)" style="display: none"/>

    <input id="form-subscribe" type="checkbox" name="options[subscribe]" value="email" class="checkbox">
    <label for="form-subscribe" class="form__field checkbox__label">I want to be notified of new comments</label>

    <br>
    <button type="submit" id="comment-form-submit" class="button mt2 white bg-button-blue rounded">Submit</button>
<!-- Start comment form alert messaging -->
        <p class="hidden js-notice">
          <span class="js-notice-text"></span>
        </p>
<!-- End comment form alert messaging -->
   </form>
  </div>
</section>
