<section class="bg-splash-gray border-top border-light-gray">
  <div class="container block p3">
    <a name="comments-link"></a>
<!-- Static comments -->
<!-- Partly based on Made Mistakes' comments.html file: -->
<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->
<!-- Also partly based on Eduardo Boucas' reviews.html file -->
<!-- https://github.com/eduardoboucas/popcorn/blob/gh-pages/_includes/reviews.html -->

{% if site.data.comments[page.slug] %}
  <p>
    <h3><small>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    COMMENT{% if site.data.comments[page.slug].size > 1 %}S{% endif %}
    </small></h3>
  </p>

  {% assign comments = site.data.comments[page.slug] | sort %}

  <p>
    {% for comment in comments %}
    <div class="mx-auto mb2 pt2 pb2">
      <img class="avatar left mr2 border border-light-gray circle lazyloaded" src="https://www.gravatar.com/avatar/{{ comment[1].email }}?d=mm&s=68" alt="{{ comment[1].name }}">
      <h4 class="m0">{{ comment[1].name }}</h4>
	  <time class="gray h6">{{ comment[1].date | date: "%B %d, %Y  %I:%M %p" }}</time>
      <p class="h3 mt0 mb0">{{ comment[1].message | markdownify }}</p>
    </div>
    {% endfor %}
  </p>
{% endif %}

<!-- Comment form -->
<!--
   <h3><small>LEAVE A COMMENT</small></h3>
   <form id="comments" class="form" action="https://dev.staticman.net/v3/entry/github/{{ site.repository }}/{{ site.staticman.branch }}/comments" method="post">
    <input type="hidden" name="options[slug]" value="{{ page.slug }}">
   
    <textarea class="block col-12 mb2 field" rows="4" name="fields[message]" placeholder="Comment. Markdown is accepted." style="width:100%" required></textarea>
    <input class="block col-12 mb2 field" type="text" name="fields[name]" placeholder="Name" required/>
    <input class="block col-12 mb2 field" type="email" name="fields[email]" placeholder="Email address (will not be public)"/>
	<input class="block col-12 mb2 field" type="hp" name="fields[hp]" placeholder="Please leave this field empty"/>
    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LdzolUUAAAAAM-UqFDg3VdEW8ho34DVqYtkHvRb">
    <input type="hidden" name="options[reCaptcha][secret]" value="vdJhnuo2yahTg8y6WjByGIq/tsQcD7yXJbf55DoD6ZEsq/verg7TQp8sNG3ESwjSpf2XOrqkK501aJ57Jzn8FNg25zf432j8GUYNL/x9m0lbOpw2B9P4XxvJTVu8oVwkjgAcenkQo0BbAAxfOpBwbaPyV7KQR74+ndZWRDkJVPk=">
    <div class="g-recaptcha" data-sitekey="6LdzolUUAAAAAM-UqFDg3VdEW8ho34DVqYtkHvRb"></div>

    <p class="hidden js-notice">
      <span class="js-notice-text"></span>
    </p>

    <button type="submit" id="comment-form-submit" class="button mt0 white bg-button-blue rounded">Submit</button>
   </form>
-->
  </div>
</section>
