/* ###### Start Top Players Tabs ###### */
#TabbedPanels2 caption,#TabbedPanels2 table caption{display:none}
#TabbedPanels2 .TabbedPanels{margin:0;padding:0;float:left;clear:none;width:100%;/* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
#TabbedPanels2 .TabbedPanelsTabGroup{margin:0;padding:0}
#TabbedPanels2 .TabbedPanelsTab,#TabbedPanels2 .TabbedPanelsTabfirst,#TabbedPanels2 .TabbedPanelsTablast,#TabbedPanels2 .TabbedPanelsTabsecond,#TabbedPanels2 .TabbedPanelsTabthrid{-moz-user-select:none;background:#1d1d1d url("../../index.html");cursor:pointer;float:left;font:bold 0.9em sans-serif;list-style:none outside none;margin:0 0 0 0;padding:6px 8px;position:relative;text-align:center;text-transform:uppercase;top:1px;margin-bottom:0;border-left:1px solid #000;width:79px;margin-left:0;border-bottom:1px solid #070707;color:#bebebe}
#TabbedPanels2 .TabbedPanelsTabHover{background:url("../img/homemenu_hover.png") center top;color:#fff}
#TabbedPanels2 .TabbedPanelsTabfirst{border-left:1px solid #3a3a3a;padding-left:10px;width:51px;margin-left:px}
#TabbedPanels2 .TabbedPanelsTablast{border-right:1px solid #3a3a3a}
#TabbedPanels2 .TabbedPanelsTablast,#TabbedPanels2 .TabbedPanelsTabsecond{width:58px}
#TabbedPanels2 .TabbedPanelsTabthrid{width:84px}
#TabbedPanels2 .TabbedPanelsTabsecond{width:67px}
#TabbedPanels2 .TabbedPanelsTabSelected{background:url("../img/homemenu_hover.png")center top;color:#fff;border-bottom:1px solid #000}
.column2{width:876px;margin-left:-3px;margin-top:0;border-top:1px solid #ff4e00;margin-top:0px;margin-left:1px;}
.column2 .report{padding-top:10px;font-size:8pt;font-weight:normal;width:876px;height:396px;float:left}
#home .franchiseicon{width:154px;height:auto}
/* ###### END ###### */
div#TabbedPanels2>div>div .report{border:1px solid #3a3a3a}
div#TabbedPanels2 form p.form_buttons {margin-top:0px;}