@import url("logos.css");@import url("commishsetup_blue.css");@import url("../../Empire-2012/css/DONOTCOPY_adblocker.css");
:-moz-any-link:focus { outline:none; }
:focus { outline:none; }
.pageheader{display:none}
.pagefooter{display:none}
.homepagemessage{border:1px solid #222;display:none}
html{overflow-y:scroll;margin:0;padding:0}
#head{background:transparent;width:1200px;margin:0 auto;margin-top:20px;border-bottom:none;height:118px;padding-top:0}
.pagebody{text-align:left;position:relative;background:transparent url("../img/bodybg.png") center top;width:1200px;margin:0 auto;min-height:750px;color:#fff;padding:0;padding-left:20px;padding-right:20px;margin-top:132px}
body{font:11pt/1.8;font-weight:bold;font-family:Arial,Helvetica,sans-serif;color:#fff;background-image:url("../img/scoreboardbg_bottom_blue.jpg"),url("../img/scoreboard_bg.jpg");background-position:center bottom,center top;background-repeat:no-repeat;background-attachment:fixed;margin:0;margin-bottom:62px}
#banner{position:absolute;top:-134px;margin-left:-28px}
#logo{position:absolute;top:-86px;margin-left:6px}
#textfooter{position:absolute;bottom:-61px;margin-left:-28px}
#designby{position:absolute;bottom:18px;margin-left:40px}
div#footernews {position:absolute;z-index:9999;margin-left:220px;bottom:18px;}
ul#sportsbar.sportslinks li {display:inline;padding:18px;}
ul#sportsbar.sportslinks img {height:38px;width:auto;;}
/* ###### SEARCH ###### */
#search-nav-wrap{position:absolute;left:1018px;top:-114px;z-index:2}
#search input{background:transparent;width:158px;height:24px;padding-left:3px;padding-right:3px;padding-top:3px;color:#888;text-align:center;border:none;-moz-border-radius-topleft:5px 5px;-moz-border-radius-topright:5px 5px;-moz-border-radius-bottomleft:5px 5px;-moz-border-radius-bottomright:5px 5px;-webkit-border-radius-topleft:5px 5px;-webkit-border-radius-topright:5px 5px;-webkit-border-radius-bottomleft:5px 5px;-webkit-border-radius-bottomright:5px 5px;font:bold 1.2em Arial,Helvetica,sans-serif}
#search .btn{width:25px;height:25px;position:absolute;top:1px;left:152px;background:transparent;border:none}
#search .btn:hover{width:20px;height:20px;position:absolute;top:4px;left:163px;background:transparent url("../img/searchglass.png") no-repeat;border:none}
#searchsubmit{margin-left:12px}
/*----------------------------------------------------------*/
/* Rules for the floating menu. */
/* */
/* mainmenuoff = unselected object */
/* mainmenucurrent = menu option for current page */
/* mainmenuon = hovering */
/*----------------------------------------------------------*/
/*--- main level ---*/
#menu0.mmenucontainer{top:23px !important;border:0 solid #366ba1 !important;background-color:transparent !important;padding-bottom:0 !important;font-size:110% !important;text-transform:uppercase}
#menu0 td.mainmenuoff{background-color:transparent !important;}
#menu0 td.mainmenucurrent{background-color:transparent !important}
#menu0 td.mainmenuon{background-color:transparent !important}
#menu0 a{font-size:100% !important;margin-bottom:8px !important}
#menu0 a.mainmenuoff{color:#56a8dc !important;background-color:transparent !important}
.mainmenuoff{color:#fff}
#menu0 a.mainmenuon{color:#56a8dc !important;background-color:transparent !important;text-decoration:none !important}
#menu0 a.mainmenucurrent{color:#56a8dc !important;background-color:transparent !important}
#menu0 img{opacity:0.8;margin-top:-2px !important}
#menu0 td.mainmenucurrent img{border-color:#fff transparent transparent}
#menu0 td.mainmenuon img{border-color:#56a8dc transparent transparent}
/*--- sub levels ---*/
.mmenucontainer{border:0 solid #366ba1 !important;background-color:#ff3000 !important;filter:progid:DXImageTransform.Microsoft.randomdissolve(duration=0) progid:DXImageTransform.Microsoft.Fade(Duration=0) progid:DXImageTransform.Microsoft.Alpha(opacity=100) progid:DXImageTransform.Microsoft.Shadow(enabled=false) !important}
.mmenucontainer td.mainmenuoff{background-color:transparent !important}
.mmenucontainer td.mainmenuon{background-color:#272727 !important}
.mmenucontainer a{font-size:110% !important;text-transform:uppercase}
.mmenucontainer a.mainmenuoff{color:#fff !important;background-color:transparent !important}
.mmenucontainer a.mainmenuon{color:#56a8dc !important;background-color:transparent !important;text-decoration:none !important}
.mmenucontainer a.mainmenucurrent{color:#fff !important;background-color:transparent !important}
.mmenucontainer img{opacity:0.8}
/*--- indent text ---*/
.mainmenuon,A.mainmenuon:link,A.mainmenuon:visited,A.mainmenuon:hover,A.mainmenuon:active{text-indent:3px}
#menu0 .mainmenuon{text-indent:0;padding-right:0}
.mainmenuoff{padding-right:3px}
#menu0 .mainmenuoff{padding-right:0}
/* Replace the down and right arrows with CSS triangles */
#menu0 img{border-style:solid;border-width:6.9px 4px 0 4px;border-color:#fff transparent transparent transparent;height:0 ! important;width:0 ! important}
.mmenucontainer img{width:0 !important;height:0 !important;border-style:solid;border-width:4px 0 4px 6.9px;border-color:transparent transparent transparent #fff;margin:3px !important}
.mmenucontainer td.mainmenucurrent img{border-color:transparent transparent transparent #fff}
.mmenucontainer td.mainmenuon img{border-color:transparent transparent transparent #56a8dc}
/* make the main div use a transparent background and set a transparent border with thickness */
.mmenucontainer{background-color:transparent !important;border:1px solid transparent !important}
/* set background for the table tag to some color. Could be an image instead. */
.milonictable{background-color:#272727}
td.mainmenuon .milonictable{background-color:#272727}

/* Reset the background color of the main menu back to transparent so it will show through whatever color was previously defined */
#menu0 .milonictable{background-color:transparent}
#topmenu{position:absolute;top:-83px;left:985px;z-index:4;color:#fff;width:330px;}
#topmenu  li{display:inline;padding:0 0px 0 0px}
#topmenu li a{color:#fff;text-decoration:none;font-size:10px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase}
#topmenu li a:hover{color:#56a8dc;text-decoration:none}
#togglelogin {position:absolute;z-index:1;top:-83px;left:782px;text-align:right;width:200px;list-style:none;}
#togglelogin a{text-decoration:none;color:#fff;font-size:10px;font-weight:bold;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase;}
#togglelogin a:hover{text-decoration:none;color:#56a8dc;}
/* ###### CAPTIONS ###### */
caption,.homepagecolumn .homepagemodule caption,.dctop,#options_02 .panel2 caption{text-align:left;padding:0;font-weight:bold;font-size:11px;color:#000;text-indent:8px;border:none;width:auto;background:#000 url("../img/caption_blue.jpg");background-repeat:repeat-x;background-position:top;cursor:default;text-transform:uppercase}
caption a:link,caption a:active,caption a:visited{color:#000;text-decoration:none}
caption a:hover{color:#000;text-decoration:none}
caption.withfranchiseicon{padding:2px}
.withfranchiseicon span.ownername{display:none}
/* ###### TH ###### */
th,#standings h3,#brief_standings h3,.chartmenudivisionhd,.playoffbracket th{text-align:left;font-weight:bold;font-size:9pt;color:#bebebe;border:none;background:#1d1d1d}
th a:link,th a:active,th a:visited{color:#bebebe;text-decoration:none}
/* ###### Text Coloring ###### */
.oddtablerow{background:#181818;font-weight:bold}
.eventablerow{background:#1f1f1f;font-weight:bold}
.newposition td,.newposition th{border-top:1px solid #666;-moz-border-radius-topleft:0 0;-moz-border-radius-topright:0 0;-moz-border-radius-bottomleft:5px 5px;-moz-border-radius-bottomright:5px 5px;-webkit-border-radius-topleft:0 0;-webkit-border-radius-topright:0 0;-webkit-border-radius-bottomleft:5px 5px;-webkit-border-radius-bottomright:5px 5px}
.oddtablerow td.status span.freeagent{color:#56a8dc}
.eventablerow td.status span.freeagent{color:#56a8dc}
.oddtablerow a:link,.oddtablerow a:active,.oddtablerow a:visited,.oddtablerow{color:#dfdfdf}
.eventablerow a:link,.eventablerow a:active,.eventablerow a:visited,.eventablerow{color:#dfdfdf}
a:link,a:active,a:visited{color:#fff}
a:hover{color:#fff}
a:active { background:none; }
.oddtablerow a:hover{color:#56a8dc}
.eventablerow a:hover{color:#56a8dc}
.warning a:link,.warning a:active,.warning a:visited{color:#56a8dc}
.oddtablerow .warning a:link,.oddtablerow .warning a:active,.oddtablerow .warning a:visited,.eventablerow .warning a:link,.eventablerow .warning a:active,.eventablerow .warning a:visited{color:#56a8dc}
.oddtablerow .warning,.eventablerow .warning{color:#56a8dc}
.warning{color:#56a8dc}
A:link img,A:visited img{border-color:transparent}
A:hover img{border-color:transparent}
h3 a:link,h3 a:visited,h3 a:active{color:#ccc}
h3 a:hover{color:#56a8dc}
h3{font-size:10pt;font-weight:bold;color:#fff;background-color:#000;border-top:0 solid #222;border-bottom:0 solid #222;padding:4px;margin-bottom:6px;margin-top:4px}
h3.warning,h3.warning a:link,h3.warning a:visited,h3.warning a:active{width:100%;margin-left:-3px;background:transparent;border:none;color:#fff}
.myfranchise,.myfranchise a,.myfranchise a:link,.myfranchise a:visited,.myfranchise a:hover,.myfranchise a:active,tr.myfranchise,tr.myfranchise A{font-weight:bold;color:#fff}
#league_chat b{color:#56a8dc}
/* ###### END ###### */
/* ###### TABLE REPORTS CUSTOM ###### */
.report,.two_column_layout table{border:none;padding:2px;padding-bottom:px;text-align:left;width:96%;border:none;background:#111;border:1px solid #3a3a3a}
#board_show td{vertical-align:top}
#body_board_show form{width:90%;margin:0 auto}
#body_board_show textarea{width:100%;margin:0 auto;height:auto}
#body_board_show th.messageboardbar{color:#56a8dc;background:transparent;font-size:14px;font-weight:bold;border:none;padding-right:0;text-decoration:underline}
#body_board_show .messageboardlink{padding:4px;font-size:12px}
#body_board_show #Footer form{width:auto}
#monthly_calendar{margin-top:10px;margin-bottom:10px;width:1144px}
#monthly_calendar th{border:1px solid #000;border:1px solid #666}
#monthly_calendar caption{color:#000}
#monthly_calendar td{border:1px solid #444}
#monthly_calendar td.today{border:4px double #56a8dc}
#body_options_02 form .franchiselogo,#body_options_02 form .franchiseicon{display:none}
#body_options_02 form caption{background:url("../../PTD2012/img/roster_lineup.png") 0 0;border:none;height:180px;background-repeat:no-repeat;margin-left:280px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
textarea{width:90%;height:500px;margin-left:13px}
#body_options_46 textarea{width:110px}
#body_options_02 textarea{height:50px}
form table{width:90%}
.two_column_layout table{width:572px}
#body_options_07 #single_roster .two_column_layout .report{width:1000px}
#choose_schedule .report,#options_121 .report,#options_118 .report{width:500px}
#home select{font-size:12px}
#options_06 .report,#options_169 .report,#options_07 .report,#submit_lineups .report,#options_178 .report,#options_49 .report,#options_16 .report,#options_15 .report,#options_68 .report{width:572px}
#body_player .report{width:90%}
div#options_31.pagebody table tbody tr td{width:500px}
#options_12 #MSG{width:1080px;margin-bottom:10px;margin-left:60px;background:#fff;padding:0;color:#000}
.scoresummary{width:400px}
#options_01 table.report{width:1144px}
#body_submit_lineups .report{width:750px}
#body_submit_lineups textarea{height:200px}
input{margin-bottom:10px}
#options_22 .scoresummary{width:450px;background:#222;padding:10px;border:1px solid #111;margin-top:5px;margin-bottom:5px}
#commish_email textarea{height:auto;margin-left:13px}
#body_options_156 .report,#commish_email .report,#accounting_report .report,#body_options_187 .report,#body_options_153 .report,#body_options_119 .report,#body_options_204 .report,#body_options_194 .report{width:550px;height:auto}
#standings .report{width:1144px}
#standings .confwlt,#standings .acct,#standings .salary,#standings .vp,#standings .bbidbalance,#standings .pwr,#standings .h2hw,#standings .h2hl,#standings .bbidspent,#standings .h2ht,#standings .gb,#standings .strk,#standings .pf,#standings .pa,#standings .divw,#standings .divl,#standings .h2hwlt,#standings .h2hpct,#standings .avgpf,#standings .avgpa,#standings .divwlt{width:70px;text-align:center;font-size:12px}
#standings #division00 h3,#standings #division01 h3,#standings #division02 h3,#standings #division03 h3{background:transparent;color:#000;border:none;padding:2px;color:#000;font-size:13pt;text-align:center}
#standings td.fname{width:300px}
#power_rank tr:first-child,.total_points,.total_potential_points,.efficiency,.bench_points,.maxpf,.minpf,.coulda_won,.woulda_lost,.all_play_w,.all_play_l,.all_play_t,.all_play_pct{width:58px;text-align:center}
/* LIVE SCORING REPORTS */
#body_live_scoring_summary h2,#body_live_scoring h2{background:url("../img/demolivescoringbanner.png");width:1256px;height:134px;margin-top:2px;margin-bottom:0;margin-left:auto;margin-right:auto;font-size:0;color:transparent}
#body_live_scoring_summary div#live_scoring_summary.pagebody,#body_live_scoring div#live_scoring.pagebody{background:transparent url("../img/bodybg.png") center top;width:1200px;padding-left:20px;padding-right:20px;padding-bottom:20px;margin-bottom:-62px;padding-bottom:20px;margin-top:0}
#live_scoring_summary h3,#live_scoring h3{margin-bottom:10px;border:1px solid #444;padding:5px}
#live_scoring_summary h3,#live_scoring h3.warning{margin-bottom:0;border:0 solid #666;padding:0;text-align:center;font-size:10pt}
#live_scoring_summary .scoresummary{width:400px;margin-top:10px}
#live_scoring_summary table{width:1020px}
#live_scoring_summary table.report{width:570px}
#live_scoring table{width:1144px}
#live_scoring table.report{width:530px}
div#live_scoring.pagebody,div#live_scoring_summary.pagebody{margin-bottom:0;padding-bottom:0}
div#live_scoring_summary.pagebody tr.total{color:#000;font-size:18px;background:#fff}
div#live_scoring_summary.pagebody tr.total th{font-size:18px;text-align:center}
div#live_scoring_summary.pagebody th{text-align:left}
div#live_scoring.pagebody tr.grand_total{color:#000;font-size:18px;background:#fff;text-align:center}
#body_live_scoring_summary h2.warning,#body_live_scoring h2.warning{background:#000;width:auto;height:auto;font-size:20px;color:#fff;margin-top:0}
/* PLAYOFF BRACKETS */
.playoffbracket td{border:0 solid #000}
.playoffbracket{width:1144px;border-top:none;padding:4px;padding-bottom:10px;background:#181818;border:1px solid #3a3a3a}
.playoffbracket .oddtablerow{color:#fff;font-size:11pt;font-weight:bold;background:#181818}
.playoffbracket td.topteam{border-bottom:2px solid #3a3a3a;font-weight:bold}
.playoffbracket td.bracket{border-right:2px solid #3a3a3a}
.playoffbracket td.bottomteam{border-bottom:2px solid #3a3a3a;border-right:2px solid #3a3a3a;font-weight:bold}
.playoffbracket .playoffbracketname{background:#000;color:#888;font-size:16pt;height:25px;border:1px solid #000}
#home .playoffbracket{width:1144px}
.playoffbracket b{color:#fff}
.playoffbracket td{text-align:center}
/* Bulliton Board */
#body_options_13 img.franchiselogo{display:none}
#options_13 .franchiselogo{display:none}
#body_options_13 h3{background:none;border:none}
#body_options_13 form{text-align:center}
/* Articles */
#fantasy_articles .oddtablerow a:link,#fantasy_articles .oddtablerow a:active,#fantasy_articles .oddtablerow a:visited{color:#56a8dc}
#fantasy_articles th{background:#1d1d1d;border:0 solid #000}
#article .articleheadline{padding:2px 4px 4px;font-size:16px;font-weight:bold;text-align:left;color:#fff}
#article th.articleauthor{padding-left:4px;text-align:left}
.articlepicture,.articlecaption{border:1px solid #444;padding:2px;color:#56a8dc}
.articlepicturetable td{padding:0 !important}
.articlepicturetable{padding-left:5px}
#article .oddtablerow td,#options_73 #main-content .oddtablerow td{padding:5px;background-color:transparent}
#article td div,#options_73 #main-content td div{padding:5px}
#article p,#options_73 #main-content p{margin-top:0}
#article a,#options_73 #main-content a{color:#56a8dc}
#article img{max-width:240px;height:auto}
#article th{background:#1d1d1d;color:#56a8dc}
#options_73 img.articlepicture{max-width:300px;height:auto}
#fantasy_articles .oddtablerow a:link,#fantasy_articles .oddtablerow a:active,#fantasy_articles .oddtablerow a:visited{color:#56a8dc}
img.videoconferenceicon{display:none}
#addtrade{display:none}
#body_options_07 .report td{text-align:center}
#body_options_07 .report td.player{text-align:left}
#home #owner_activity .franchiseicon{width:108px;height:auto}
#home #owner_activity{background:url("../img/topplayer_bg.jpg");width:318px;margin-top:10px;height:299px;font-size:90%;}
#home #owner_activity .oddtablerow,#home #owner_activity .eventablerow,#home #owner_activity th{background:transparent}
#home #owner_activity caption{background:transparent url("../img/activitybg_blue.png")no-repeat;text-align:center;position:absolute;margin-top:-21px;margin-left:33px;width:244px;height:25px;line-height:21px}

#sliderbg {position:absolute;}
#chat{ width:auto; margin-bottom:0px;padding-bottom:0px;margin-top:10px;background:#000;}
#body_chat h2{ display:none; margin-top:10px;background:#000;}

div#habpool td {width:45px;}
div#habpool th {text-align:center;}
table#nfl_33_pool.homepagemodule.report i font {color:#56a8dc;}










