/* ###### Start Top Players Tabs ###### */
#TabbedPanels3 caption,#TabbedPanels3 table caption{display:none}
#TabbedPanels3 .TabbedPanels{margin:0;padding:0;float:left;clear:none;width:100%;/* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
#TabbedPanels3 .TabbedPanelsTabGroup{margin:0;padding:0}
#TabbedPanels3 .TabbedPanelsTab,#TabbedPanels3 .TabbedPanelsTabfirst,#TabbedPanels3 .TabbedPanelsTablast{-moz-user-select:none;background: #fff url()center top;
  cursor:pointer;float:left;list-style:none outside none;margin:0 0 0 0;padding:6px 0px;position:relative;text-align:center;text-transform:uppercase;top:-2px;;font-size:13px;font-weight:400;
  margin-bottom:0;border-left:0px solid #000;width:90px;border:1px solid #b6d7ff;border-bottom:1px solid #fff;color:#ee4f20;margin-left:3px;
-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
#TabbedPanels3 .TabbedPanelsTabHover{color:#44629b;}
#TabbedPanels3 .TabbedPanelsTabfirst{}
#TabbedPanels3 .TabbedPanelsTablast{}
#TabbedPanels3 .TabbedPanelsTabSelected{color:#44629b;border-bottom:1px solid #fff;}
.column3{width:286px;margin-left:587px;margin-top:2px;position:absolute;}
.column3 .report{padding-top:5px;font-size:13px;font-weight:normal;width:288px;height:299px;clear:both;padding-bottom:0px;}
/* ###### END ###### */
div#TabbedPanels3divdiv .report{-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}

#TabbedPanels3 #brief_standings td.fname {width:170px;}
#TabbedPanels3 #brief_standings td.pf {text-align:center;}
#TabbedPanels3 #brief_standings th.pf,#TabbedPanels3 #brief_standings th.h2hwlt {text-align:center;}
#TabbedPanels3 #brief_standings .report,#TabbedPanels3 #brief_standings,#TabbedPanels3 #brief_standings th,#TabbedPanels3 #brief_standings h3{background:none;border:none;background:#fff;}
#TabbedPanels3 #brief_standings th {font-size:12px;height:20px;}
#TabbedPanels3 #brief_standings td {border:0px;border-top:1px solid #ddd;}
#TabbedPanels3 #brief_standings .oddtablerow a:link,#TabbedPanels3 #brief_standings .oddtablerow a:active,#TabbedPanels3 #brief_standings .oddtablerow a:visited{letter-spacing:1px;text-decoration:none;padding-left:4px;}
#TabbedPanels3 #brief_standings .eventablerow a:link,#TabbedPanels3 #brief_standings .eventablerow a:active,#TabbedPanels3 #brief_standings .eventablerow a:visited{letter-spacing:1px;text-decoration:none;padding-left:4px;}
#brief_standings td#division00 img {visibility:hidden; width:273px;height:55px;}
#brief_standings td#division01 img {visibility:hidden; width:273px;height:55px;}
#brief_standings td#division02 img {visibility:hidden; width:273px;height:55px;}
#brief_standings td#division00 {background: transparent url("../img/div1sm_white.jpg") no-repeat top center; border: none;height:53px;border:1px solid #44629b;}
#brief_standings td#division00 h3 {visibility:hidden;margin:0;padding:0;}
#brief_standings td#division01 {background: transparent url("../img/div2sm_white.jpg") no-repeat top center; border: none;height: 53px;border:1px solid #44629b;}
#brief_standings td#division01 h3 {visibility:hidden;margin:0;padding:0;}
#brief_standings td#division02 {background: transparent url("../img/div3sm_white.jpg") no-repeat top center; border: none;height: 53px;border:1px solid #44629b;}
#brief_standings td#division02 h3 {visibility:hidden;margin:0;padding:0;}

#TabbedPanels3 #brief_standings .oddtablerow a:link,#TabbedPanels3 #brief_standings .oddtablerow a:active,#TabbedPanels3 #brief_standings .oddtablerow a:visited,#TabbedPanels3 #brief_standings .oddtablerow{}
#TabbedPanels3 #brief_standings .eventablerow a:link,#TabbedPanels3 #brief_standings .eventablerow a:active,#TabbedPanels3 #brief_standings .eventablerow a:visited,#TabbedPanels3 #brief_standings .eventablerow{}